

body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

div.board {
    background-color: brown;
    width: 100%;
    background:#DDDDDD;
 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);

}



div.trade_frame {
    height: 475px;
    width: 270px;
    background-color: black;
	color:white;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.trade_frame div{
	float:left;
}
.stock_title{
	height:50px;
	width:100%;
	text-align: center;
}

.stock_title input{
	position: absolute;
    top: 2px;
    left: 0px;
    opacity: 0;
    transition: opacity .25s linear;
	color:black;
}

.stock_title:hover>input{
	opacity: 1;
}

.stock_info{
	width:150px;
	height:425px;
	text-align: center;	
}

.stock_info input{
	width:50px;
	color:black;
}
.table_name{
	width:20px;
	height:420px;
	writing-mode:tb-rl;
}
.table_name div{
	padding-top: 80px;
	height:50%;
	text-align: center;
}
.stock_info div{
	width:150px;
}

.sell{
	background-color: green;
}
.buy{
	background-color: red;
}

div.trade_frame:active {
    cursor: -webkit-grabbing;
}

div.trade_frame table{
	width:100px;
	text-align: center;
}

div.trade_frame table td{
	margin-top: 2px;
	border:1px solid red;
	width:100px
}


div.trade_frame p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
}

div.trade_frame:hover > span {
    opacity: 1;
}


div.trade_frame > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}


div.trade_frame button {
    margin: 2px;
}

div.trade_frame > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}

.table_frame{
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
	border:2px solid gray;
	overflow：auto;
		
}
.position_div{
	width:100%;
	height:100%;
}
.table_title{
	width:100%;
	text-align: center;
	
}

